<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/admin.css" />
</head>
<body>
    <div style="background-color:red;">Menu</div>
    @RenderBody()
</body>
</html>