@model SIIT_Conference.Models.TalkDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TalkDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FeedbackEnabled" /> @Html.DisplayNameFor(model => model.FeedbackEnabled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SpeakerId" class="control-label"></label>
                <speakers asp-for="SpeakerId" class="form-control" onchange="getSpeakerData(this);"></speakers>
                <span asp-validation-for="SpeakerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Dummy Info about speaker</label>
                <select class="form-control" id="info">
                    <option>Please select and Option for the speaker</option>
                </select>
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        function getSpeakerData(event) {
            //  debugger;
            var selectedId = event.options[event.selectedIndex].value;

            $.ajax({
                method: "GET",
                url: "/Talks/GetSpeakerData/" + selectedId
            })
                .done(function (data) {
                    console.log(data);

                    //$.each(dataSource, function (index, value) {

                    //});
                    $("#info").html("");
                    $.each(data, function (index, value) {

                        var newOption = "<option value='" + value.id + "'>" + value.textToDisplay + "</option>";

                        $("#info").append(newOption);
                        console.log(newOption);
                    });
                });
        }

    </script>
}
